<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <ngb-tabset type="pills" class="custom-pills">
          <ngb-tab title="Products">
            <ng-template ngbTabContent>
              <br>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-12">
                    <form #formAddProduct>
                      <input type="text" class="form" placeholder="Product Name" name="p_name" #p_name> &nbsp;
                      <input type="text" class="form" placeholder="Barcode" name="p_barcode" #p_barcode> &nbsp;
                      <input type="text" class="form" placeholder="Weight" name="p_weight" #p_weight> &nbsp;
                      <input type="text" class="form" placeholder="Location" name="p_location" #p_location> &nbsp;
                      <input type="text" class="form" placeholder="Price" name="p_price" #p_price> &nbsp;
                      <button class="btn btn-success"
                              (click)="addProduct(p_name.value, p_barcode.value, p_location.value, p_price.value, p_weight.value, formAddProduct)">
                        Add Product
                      </button>
                    </form>
                  </div>
                </div>
              </div>

              <br>
              <form class="w-50 m-b-30">
                <input type='text' class="form-control" placeholder='Search the product by product name'
                       (keyup)='updateFilter($event)'/>
              </form>
              <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'"
                             [footerHeight]="50" [rowHeight]="'auto'"
                             [rows]="rows">
                <ngx-datatable-column name="Name">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true"
                    *ngIf="!editing[rowIndex + '-name']">
                {{value}}
              </span>
                    <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex+ '-name']"
                           type="text" [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Barcode">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-barcode'] = true"
                    *ngIf="!editing[rowIndex + '-barcode']">
                {{value}}
              </span>
                    <input autofocus (blur)="updateValue($event, 'barcode', rowIndex)"
                           *ngIf="editing[rowIndex+ '-barcode']"
                           type="text" [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Weight">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-weight'] = true"
                    *ngIf="!editing[rowIndex + '-weight']">
                {{value}}
              </span>
                    <input autofocus (blur)="updateValue($event, 'weight', rowIndex)"
                           *ngIf="editing[rowIndex+ '-weight']"
                           type="text" [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Location">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-location'] = true"
                    *ngIf="!editing[rowIndex + '-location']">
                {{value}}
              </span>
                    <input autofocus (blur)="updateValue($event, 'location', rowIndex)"
                           *ngIf="editing[rowIndex+ '-location']"
                           type="text" [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Price">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-price'] = true"
                    *ngIf="!editing[rowIndex + '-price']">
                {{value}}
              </span>
                    <input autofocus (blur)="updateValue($event, 'price', rowIndex)" *ngIf="editing[rowIndex+ '-price']"
                           type="text" [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">

                    <a style="cursor: pointer" tooltip="Click to delete" (click)="deleteProduct(rowIndex)"><i class="fas fa-trash-alt"></i></a>

                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>
              <div *ngIf="successMessage" class="alert alert-success">{{ message }}</div>
              <div *ngIf="failMessage" class="alert alert-danger">{{ message }}</div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Map layout">
            <ng-template ngbTabContent>

              <br>

            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
