<div class="row">
  <!-- Column -->

  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <ngb-tabset type="pills" class="custom-pills">
        <ngb-tab title="Profile">
          <ng-template ngbTabContent>
            <div class="card-body" *ngIf="user && store">
              <div *ngFor="let user of allManagersInstore">
                <div class="m-t-30 text-center">
                  <img src="assets/images/user-default.png" class="rounded-circle" width="150" *ngIf="!user.image"/>
                  <img src="http://localhost:3000/{{user.image}}" class="rounded-circle" width="150"
                       *ngIf="user.image"/>
                  <h4 class="card-title m-t-10">{{user.name}}</h4>
                  <h6 class="card-subtitle">{{user.role}} - {{store.name}}</h6>
                  <form #profileImageForm [formGroup]="form" enctype="multipart/form-data"
                        (ngSubmit)="profileImageupload( profileImageForm )" *ngIf="!readOnly">
                    <input type="file" name="profile" (change)="onChange($event)"/>
                    <button class="btn btn-success" type="submit">
                      Change Image
                    </button>
                  </form>
                </div>
                <div>
                  <hr>
                </div>
                <div class="row" *ngIf="user">
                  <div class="col-md-3 col-xs-6 b-r" style="padding-left: 20px;">
                    <strong>Full Name</strong>
                    <br>
                    <p class="text-muted">{{user.name}}</p>
                  </div>
                  <div class="col-md-3 col-xs-6 b-r">
                    <strong>Mobile</strong>
                    <br>
                    <p class="text-muted">{{user.phoneno}}</p>
                  </div>
                  <div class="col-md-3 col-xs-6 b-r">
                    <strong>Email</strong>
                    <br>
                    <p class="text-muted">{{user.email}}</p>
                  </div>
                </div>
                <div class="card-body">
                  <small class="text-muted p-t-30 db">Social Profile</small>
                  <br/>
                  <button class="btn btn-circle btn-secondary">
                    <i class="fab fa-facebook"></i>
                  </button>
                  <button class="btn btn-circle btn-secondary">
                    <i class="fab fa-twitter"></i>
                  </button>
                  <button class="btn btn-circle btn-secondary">
                    <i class="fab fa-youtube"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Update details" *ngIf="!readOnly">
          <ng-template ngbTabContent>
            <div class="card-body">
              <form class="form-horizontal form-material">
                <div class="form-group">
                  <label class="col-md-12">Full Name</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="Johnathan Doe" value="{{user.name}}"
                           class="form-control form-control-line" #userName>
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">Email</label>
                  <div class="col-md-12">
                    <input type="email" placeholder="johnathan@admin.com" value="{{user.email}}"
                           class="form-control form-control-line"
                           name="example-email" id="exampsle-email" #userEmail>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Phone No</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" value="{{user.phoneno}}"
                           class="form-control form-control-line" #userPhoneno>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-success"
                            (click)="updateUserDetails(userName.value, userEmail.value, userPhoneno.value)">Update
                    </button>
                  </div>
                </div>
                <div *ngIf="successMessage" class="alert alert-success">{{ message }}</div>
                <div *ngIf="failMessage" class="alert alert-danger">{{ message }}</div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Store details" *ngIf="!isAdmin && !readOnly">
          <ng-template ngbTabContent>
            <div class="card-body" *ngIf="store">
              <form class="form-horizontal form-material">
                <div class="form-group">
                  <label class="col-md-12">Store Name</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="Johnathan Doe" value="{{store.name}}"
                           class="form-control form-control-line" #storeName>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Pincode</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" value="{{store.pincode}}"
                           class="form-control form-control-line" #storepincode>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Phone No</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" value="{{store.phoneno}}"
                           class="form-control form-control-line" #storePhoneno>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Address</label>
                  <div class="col-md-12">
                    <textarea rows="5" class="form-control form-control-line"
                              #storeAddress> {{store.address}}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Facebook URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" value="{{store.facebookURL}}"
                           class="form-control form-control-line" #storeFB>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Twitter URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" value="{{store.twitterURL}}"
                           class="form-control form-control-line" #storeTW>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Youtube URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" value="{{store.youtubeURL}}"
                           class="form-control form-control-line" #storeYT>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-success"
                            (click)="updateStoreDetails(storeName.value, storepincode.value, storePhoneno.value, storeAddress.value, storeFB.value, storeTW.value, storeYT.value)">
                      Update
                    </button>
                  </div>
                </div>
                <div *ngIf="successMessage" class="alert alert-success">{{ message }}</div>
                <div *ngIf="failMessage" class="alert alert-danger">{{ message }}</div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Change Password" *ngIf="!readOnly">
          <ng-template ngbTabContent>
            <div class="card-body">
              <form class="form-horizontal form-material" #changePasswordForm>
                <div class="form-group">
                  <label class="col-md-12">Current Password</label>
                  <div class="col-md-12">
                    <input type="password" class="form-control form-control-line" #password>
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">New password</label>
                  <div class="col-md-12">
                    <input type="password" class="form-control form-control-line"
                           name="example-email" id="example-email" #newPassword>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Re-enter new Password</label>
                  <div class="col-md-12">
                    <input type="password" class="form-control form-control-line" #reNewPassword>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-success"
                            (click)="changePassword(password.value, newPassword.value, reNewPassword.value, changePasswordForm)">
                      Change
                      Password
                    </button>
                  </div>
                </div>
                <div *ngIf="successMessage" class="alert alert-success">{{ message }}</div>
                <div *ngIf="failMessage" class="alert alert-danger">{{ message }}</div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Add Store" *ngIf="isAdmin">
          <ng-template ngbTabContent>
            <div class="card-body">
              <form class="form-horizontal form-material" #addStoreForm>
                <div class="form-group">
                  <label class="col-md-12">Store Name</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="Store" class="form-control form-control-line" #storeName>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Address</label>
                  <div class="col-md-12">
                    <textarea rows="5" class="form-control form-control-line" #storeAddress></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">Pincode</label>
                  <div class="col-md-12">
                    <input type="number" placeholder="68159" class="form-control form-control-line"
                           name="example-email" #storePincode>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Phone No</label>
                  <div class="col-md-12">
                    <input type="number" placeholder="123 456 7890" class="form-control form-control-line"
                           #storePhoneno>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Facebook URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="facebook.com/user" class="form-control form-control-line"
                           #storeFBURL>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Twitter URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="twitter.com/user" class="form-control form-control-line"
                           #storeTwitterURL>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Youtube URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="youtube.com/user" class="form-control form-control-line"
                           #storeYoutubeURL>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-success"
                            (click)="addStore(storeName.value, storePhoneno.value, storePincode.value, storeFBURL.value, storeTwitterURL.value, storeYoutubeURL.value, storeAddress.value, addStoreForm)">
                      Add Store
                    </button>
                  </div>
                </div>
                <div *ngIf="successMessage" class="alert alert-success">{{ message }}</div>
                <div *ngIf="failMessage" class="alert alert-danger">{{ message }}</div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Add User" *ngIf="isAdmin">
          <ng-template ngbTabContent>
            <div class="card-body">
              <form class="form-horizontal form-material" #newUserForm>
                <div class="form-group">
                  <label class="col-md-12">Full Name</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="Name" class="form-control form-control-line" #newUserName>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">UserID</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="UserID" class="form-control form-control-line" #newUserID>
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">Email</label>
                  <div class="col-md-12">
                    <input type="email" placeholder="user@email.com" class="form-control form-control-line"
                           name="example-email" #newUserEmail>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Set Password</label>
                  <div class="col-md-12">
                    <input type="password" class="form-control form-control-line" #newUserPassword>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Phone No</label>
                  <div class="col-md-12">
                    <input type="number" placeholder="123 456 7890" class="form-control form-control-line"
                           #newUserPhoneNo>
                  </div>
                </div>
                <div class="form-group" *ngIf="stores">
                  <label class="col-sm-12">Select Store</label>
                  <div class="col-sm-12">
                    <select class="form-control form-control-line" (change)="changeStoreSelected($event.target)">
                      <option value="">Select store</option>
                      <option *ngFor="let storeItem of stores" [value]="storeItem.id">{{storeItem.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-12">Role</label>
                  <div class="col-sm-12">
                    <select class="form-control form-control-line" (change)="changeRoleSelected($event.target)">
                      <option value="">Select Role</option>
                      <option value="Admin">Admin</option>
                      <option value="Store Manager">Store Manager</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-success"
                            (click)="addUser(newUserID.value, newUserName.value, newUserEmail.value, newUserPassword.value, newUserPhoneNo.value, newUserForm)">
                      Update Profile
                    </button>
                  </div>
                </div>
                <div *ngIf="successMessage" class="alert alert-success">{{ message }}</div>
                <div *ngIf="failMessage" class="alert alert-danger">{{ message }}</div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Edit Users" (change)="getUsers()" *ngIf="isAdmin">
          <ng-template ngbTabContent> &nbsp;
            <form class="w-50 m-b-30">
              <input type='text' class="form-control" placeholder='Search the Users by name'
                     (keyup)='updateFilter($event)'/>
            </form>
            <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'"
                           [footerHeight]="50" [rowHeight]="'auto'"
                           [rows]="userRows">
              <ngx-datatable-column name="Name">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true"
                    *ngIf="!editing[rowIndex + '-name']">
                {{value}}
              </span>
                  <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex+ '-name']"
                         type="text" [value]="value"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Email">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-email'] = true"
                    *ngIf="!editing[rowIndex + '-email']">
                {{value}}
              </span>
                  <input autofocus (blur)="updateValue($event, 'email', rowIndex)"
                         *ngIf="editing[rowIndex+ '-email']"
                         type="email" [value]="value"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="password">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-password'] = true"
                    *ngIf="!editing[rowIndex + '-password']">
                {{value}}
              </span>
                  <input autofocus (blur)="updateValue($event, 'password', rowIndex)"
                         *ngIf="editing[rowIndex+ '-password']"
                         type="text" [value]="value"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Role">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-role'] = true"
                    *ngIf="!editing[rowIndex + '-role']">
                {{value}}
              </span>
                  <input autofocus (blur)="updateValue($event, 'role', rowIndex)"
                         *ngIf="editing[rowIndex+ '-role']"
                         type="text" [value]="value"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Phoneno">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-phoneno'] = true"
                    *ngIf="!editing[rowIndex + '-phoneno']">
                {{value}}
              </span>
                  <input autofocus (blur)="updateValue($event, 'phoneno', rowIndex)"
                         *ngIf="editing[rowIndex+ '-phoneno']"
                         type="text" [value]="value"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Username">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-username'] = true"
                    *ngIf="!editing[rowIndex + '-username']">
                {{value}}
              </span>
                  <input autofocus (blur)="updateValue($event, 'username', rowIndex)"
                         *ngIf="editing[rowIndex+ '-username']"
                         type="text" [value]="value"
                  />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Store">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-store'] = true"
                    *ngIf="!editing[rowIndex + '-store']">
                {{value}}
              </span>
                  <select *ngIf="editing[rowIndex + '-store']" (change)="updateValue($event, 'store', rowIndex)"
                          [value]="value">
                    <option value="">Select Store</option>
                    <option *ngFor="let storeItem of stores" [value]="storeItem.id">{{storeItem.name}}</option>
                  </select>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">

                  <a style="cursor: pointer" tooltip="Click to delete" (click)="deleteUser(rowIndex)"><i
                    class="fas fa-trash-alt"></i></a>

                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>

            <div *ngIf="successMessage" class="alert alert-success">{{ message }}</div>
            <div *ngIf="failMessage" class="alert alert-danger">{{ message }}</div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  <!-- Column -->
</div>
