<div class="row">
  <!-- Column -->

  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-6 col-xlg-9 col-md-7">
    <div class="card">
      <ngb-tabset type="pills" class="custom-pills">

        <ngb-tab title="Profile">
          <ng-template ngbTabContent>
            <div class="card-body" *ngIf="user && store">
              <div class="m-t-30 text-center">
                <img src="assets/images/logo.png" class="rounded-circle" width="150"/>
                <h4 class="card-title m-t-10">{{user.name}}</h4>
                <h6 class="card-subtitle">{{user.role}} - {{store.name}}</h6>

              </div>
            </div>
            <div>
              <hr>
            </div>
            <div class="row" *ngIf="user">
              <div class="col-md-3 col-xs-6 b-r" style="padding-left: 20px;">
                <strong>Full Name</strong>
                <br>
                <p class="text-muted">{{user.name}}</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r">
                <strong>Mobile</strong>
                <br>
                <p class="text-muted">{{user.phoneno}}</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r">
                <strong>Email</strong>
                <br>
                <p class="text-muted">{{user.email}}</p>
              </div>
              <div class="col-md-3 col-xs-6">
                <strong>Location</strong>
                <br>
                <p class="text-muted">London</p>
              </div>
            </div>
            <div class="card-body">


              <small class="text-muted p-t-30 db">Social Profile</small>
              <br/>
              <button class="btn btn-circle btn-secondary">
                <i class="fab fa-facebook"></i>
              </button>
              <button class="btn btn-circle btn-secondary">
                <i class="fab fa-twitter"></i>
              </button>
              <button class="btn btn-circle btn-secondary">
                <i class="fab fa-youtube"></i>
              </button>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Update details">
          <ng-template ngbTabContent>
            <div class="card-body" *ngIf="user">
              <form class="form-horizontal form-material">
                <div class="form-group">
                  <label class="col-md-12">Full Name</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="Johnathan Doe" value="{{user.name}}" class="form-control form-control-line" #userName>
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">Email</label>
                  <div class="col-md-12">
                    <input type="email" placeholder="johnathan@admin.com" value="{{user.email}}" class="form-control form-control-line"
                           name="example-email" id="exampsle-email" #userEmail>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Phone No</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" value="{{user.phoneno}}" class="form-control form-control-line" #userPhoneno>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-success" (click)="updateUserDetails(userName.value, userEmail.value, userPhoneno.value)">Update</button>
                  </div>
                </div>
                <div *ngIf="successMessage" class="alert alert-success">{{ message }}</div>
                <div *ngIf="failMessage" class="alert alert-danger">{{ message }}</div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Store details">
          <ng-template ngbTabContent>
            <div class="card-body" *ngIf="store">
              <form class="form-horizontal form-material">
                <div class="form-group">
                  <label class="col-md-12">Store Name</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="Johnathan Doe" value="{{store.name}}" class="form-control form-control-line" #storeName>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Pincode</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" value="{{store.pincode}}" class="form-control form-control-line" #storepincode>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Pincode</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" value="{{store.phoneno}}" class="form-control form-control-line" #storePhoneno>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Address</label>
                  <div class="col-md-12">
                    <textarea rows="5" class="form-control form-control-line" #storeAddress> {{store.address}}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Facebook URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890"  value="{{store.facebookURL}}"class="form-control form-control-line" #storeFB>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Twitter URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890"  value="{{store.twitterURL}}"class="form-control form-control-line" #storeTW>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Youtube URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890"  value="{{store.youtubeURL}}"class="form-control form-control-line" #storeYT>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-success" (click)="updateStoreDetails(storeName.value, storepincode.value, storePhoneno.value, storeAddress.value, storeFB.value, storeTW.value, storeYT.value)">Update</button>
                  </div>
                </div>
                <div *ngIf="successMessage" class="alert alert-success">{{ message }}</div>
                <div *ngIf="failMessage" class="alert alert-danger">{{ message }}</div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Change Password">
          <ng-template ngbTabContent>
            <div class="card-body">
              <form class="form-horizontal form-material">
                <div class="form-group">
                  <label class="col-md-12">Current Password</label>
                  <div class="col-md-12">
                    <input type="password" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">New password</label>
                  <div class="col-md-12">
                    <input type="password" class="form-control form-control-line"
                           name="example-email" id="example-email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Re-enter new Password</label>
                  <div class="col-md-12">
                    <input type="password" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-success">Change Password</button>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Add User">
        <ng-template ngbTabContent>
          <div class="card-body">
            <form class="form-horizontal form-material">
              <div class="form-group">
                <label class="col-md-12">Full Name</label>
                <div class="col-md-12">
                  <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label for="example-email" class="col-md-12">Email</label>
                <div class="col-md-12">
                  <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line"
                         name="example-email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Current Password</label>
                <div class="col-md-12">
                  <input type="password" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Phone No</label>
                <div class="col-md-12">
                  <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Facebook URL</label>
                <div class="col-md-12">
                  <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Twitter URL</label>
                <div class="col-md-12">
                  <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Youtube URL</label>
                <div class="col-md-12">
                  <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Address</label>
                <div class="col-md-12">
                  <textarea rows="5" class="form-control form-control-line"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-12">Select Country</label>
                <div class="col-sm-12">
                  <select class="form-control form-control-line">
                    <option>London</option>
                    <option>India</option>
                    <option>Usa</option>
                    <option>Canada</option>
                    <option>Thailand</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-success">Update Profile</button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </ngb-tab>
        <ngb-tab title="Edit User">
          <ng-template ngbTabContent>
            <div class="card-body">
              <form class="form-horizontal form-material">
                <div class="form-group">
                  <label class="col-md-12">Full Name</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">Email</label>
                  <div class="col-md-12">
                    <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line"
                           name="example-email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Current Password</label>
                  <div class="col-md-12">
                    <input type="password" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Phone No</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Facebook URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Twitter URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Youtube URL</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Address</label>
                  <div class="col-md-12">
                    <textarea rows="5" class="form-control form-control-line"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-12">Select Country</label>
                  <div class="col-sm-12">
                    <select class="form-control form-control-line">
                      <option>London</option>
                      <option>India</option>
                      <option>Usa</option>
                      <option>Canada</option>
                      <option>Thailand</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-success">Update Profile</button>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  <!-- Column -->
</div>
